.signin-box-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.background-video {
	position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

